---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Border All',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M.25 1A.75.75 0 0 1 1 .25h13a.75.75 0 0 1 .75.75v13a.75.75 0 0 1-.75.75H1A.75.75 0 0 1 .25 14V1Zm1.5.75v11.5h11.5V1.75H1.75Z" /><rect width="1" height="1" x="7" y="5" rx=".5" /><rect width="1" height="1" x="7" y="3" rx=".5" /><rect width="1" height="1" x="7" y="7" rx=".5" /><rect width="1" height="1" x="5" y="7" rx=".5" /><rect width="1" height="1" x="3" y="7" rx=".5" /><rect width="1" height="1" x="9" y="7" rx=".5" /><rect width="1" height="1" x="11" y="7" rx=".5" /><rect width="1" height="1" x="7" y="9" rx=".5" /><rect width="1" height="1" x="7" y="11" rx=".5" />
</svg>