---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Border Dotted',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M1.5 6.625a.875.875 0 1 0 0 1.75.875.875 0 0 0 0-1.75Zm4 0a.875.875 0 1 0 0 1.75.875.875 0 0 0 0-1.75Zm4 0a.875.875 0 1 0 0 1.75.875.875 0 0 0 0-1.75Zm3.125.875a.875.875 0 1 1 1.75 0 .875.875 0 0 1-1.75 0Z" />
</svg>