---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Container',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M2 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM5 13h5V2H5v11Zm-1 0a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v11Zm9.5-11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 7.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 9.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM2 13.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm11.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
</svg>