---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Crumpled Paper',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M4.61.063a.45.45 0 0 0-.528.27l-.928 2.32-2.321.93a.45.45 0 0 0-.193.687l1.371 1.829-.948 3.792a.45.45 0 0 0 .264.524L4.2 11.613l1.425 2.137a.45.45 0 0 0 .498.183l3.5-1a.41.41 0 0 0 .018-.006l3-1a.45.45 0 0 0 .297-.33l1-4.5a.45.45 0 0 0-.169-.457l-1.82-1.365V3a.45.45 0 0 0-.249-.402l-3-1.5a.45.45 0 0 0-.092-.035l-4-1Zm6.822 5.949 1.343 1.007-2.563 2.135a.45.45 0 0 0-.139.204l-.82 2.457-1.515-.947a.45.45 0 1 0-.477.764l1.142.713-2.21.632L4.873 11a.45.45 0 0 0-.2-.165L2.03 9.734l.821-3.284H5a.45.45 0 1 0 0-.9H2.725L1.712 4.2l1.802-.721 2.844.948a.45.45 0 0 0 .493-.146l1.773-2.216 2.426 1.213v1.917l-2.217.887a.45.45 0 0 0-.26.276l-.5 1.5a.45.45 0 1 0 .854.284L9.36 6.84l2.071-.828ZM7.711 1.766 6.345 3.474l-2.25-.75.677-1.692 2.939.734Zm2.5 10.023 1.905-.635.659-2.964-1.889 1.574-.675 2.025Z" />
</svg>