---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Link Break 2',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 1 1-1 0v-2a.5.5 0 0 1 .5-.5ZM.646.646a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 1 1-.708.708l-1.5-1.5a.5.5 0 0 1 0-.708ZM0 4.5A.5.5 0 0 1 .5 4h2a.5.5 0 1 1 0 1h-2a.5.5 0 0 1-.5-.5Zm12 6a.5.5 0 0 1 .5-.5h2a.5.5 0 1 1 0 1h-2a.5.5 0 0 1-.5-.5ZM10.5 12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2a.5.5 0 0 1 .5-.5Zm1.646.146a.5.5 0 0 1 .707 0l1.5 1.5a.5.5 0 0 1-.707.707l-1.5-1.5a.5.5 0 0 1 0-.707ZM7.765 3.7c.427-.427.592-.589.747-.694.676-.46 1.531-.468 2.166-.051.145.095.299.245.71.657.412.412.563.566.658.71.417.636.408 1.49-.052 2.167-.104.154-.267.32-.694.747l-.619.619a.5.5 0 0 0 .708.707l.618-.62.043-.042c.37-.37.606-.606.772-.85.675-.993.71-2.287.06-3.277-.16-.241-.39-.472-.742-.823l-.044-.045-.045-.045c-.351-.351-.582-.582-.824-.74-.99-.651-2.283-.616-3.277.059-.243.165-.48.402-.85.771l-.042.043-.619.619a.5.5 0 1 0 .707.707l.619-.619ZM2.992 7.06l-.043.042c-.37.37-.606.606-.771.85-.676.993-.71 2.287-.06 3.277.158.241.39.472.74.824l.046.044.044.045c.351.351.582.582.824.74.99.651 2.284.616 3.278-.06.243-.164.48-.4.849-.77l.043-.043.618-.619a.5.5 0 0 0-.707-.707l-.619.619c-.427.427-.592.589-.746.694-.677.46-1.532.468-2.167.051-.144-.095-.299-.245-.71-.657-.412-.412-.563-.566-.657-.71-.418-.636-.409-1.49.05-2.167.106-.154.268-.32.695-.747l.619-.619a.5.5 0 1 0-.707-.707l-.62.62Z" />
</svg>