---
/*! radix-icons | MIT License | https://icons.modulz.app/ */

export interface Props {
	'fill-rule'?: string
	'fill'?: string
	'height'?: number | string
	'size'?: number | string
	'title'?: string
	'viewBox'?: string
	'width'?: number | string
}

const {
	size,
	title,
	width = size,
	height = size,
	...props
} = {
	'fill': 'CurrentColor',
	'fill-rule': 'evenodd',
	'size': 15,
	'title': 'Play',
	'viewBox': '0 0 15 15',
	...Astro.props
}
---
<svg {width} {height} {...props}>{title ?
	<title>{title}</title>
: ''}
	<path d="M3.242 2.322a.5.5 0 0 1 .491-.014l9 4.75a.5.5 0 0 1 0 .884l-9 4.75A.5.5 0 0 1 3 12.25v-9.5a.5.5 0 0 1 .242-.428ZM4 3.579v7.842L11.429 7.5 4 3.58Z" />
</svg>